extends layout

block content
  h1 Home
  p This is some example Jade.
  p.class-1 This paragraph has a class.
  p(class="class-1") This paragraph also has a class. It demonstrates how attributes can be added to a tag.
  p#id-1 This paragraph has an id.
  p#id-2.class-1 This paragraph has an id and a class.
  p You can use <span class="class-2">HTML tags</span> inside the content of a Jade tag.
  p.
    If you want line breaks in your text,
    you can end the Jade tag with a period
    and then indent your text underneath it.
